.blog-caption {
    margin-top: 80px;
    margin-left: 260px;
    margin-right: 260px;
}

.blog-title {
    font-size: 38px;
    line-height: 1.4;
    color: #2C2C2C;
}

.blog-tabs {
    gap: 10px;

    .tabs-btn__active {
        border: 2px solid #71B2B4;
    }
}

.blog-tabs-btn {
    display: block;
    width: fit-content;
    padding: 7px 15px;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #2C2C2C;
}

.blog-content {
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 60px;
    margin-left: 260px;
    margin-right: 260px;
}

.blog-pages {
    width: fit-content;
    margin: 50px auto;
    margin-bottom: 120px;

    button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .pages-btn__active {
      background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      border: 1px solid #71B2B4;
    }
}

.blog-pages-btn {
    width: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    color: #848484;
}






