.footer-newsletter {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 260px;
    background-color: #F8F8F8;
}

.footer-newsletter-caption {
    gap: 30px;
}

.footer-newsletter-title {
    font-size: 20px;
    color: #2C2C2C;
}

.footer-newsletter-fm {
    input {
        width: 360px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        background-color: #FFFFFF;
        border: 1px solid #E3E3E3;
        border-radius: 15px;
        outline: none;
        font-size: 18px;
        color: #848484;
    }

    button {
        width: 50px;
        height: 50px;
        margin-left: 15px;
        background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
        border: none;
        border-radius: 15px;
    }
}

.footer-bar {
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 260px;
    padding-right: 260px;
}

.footer-bl-title {
    font-size: 24px;
    color: #2C2C2C;
}

.footer-bl-list {
    list-style-type: none;
    margin-top: 20px;

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .shipping {
        padding-right: 30px;
        background: url('/public/images/delivery.svg') no-repeat right;  
    }

    .gift {
        padding-right: 10px;
        background: url('/public/images/gift.svg') no-repeat 70%;    
    }

    .sale a {
        color: #F93C00;
    }
}

.footer-bl-list li, .footer-bl-list a {
    font-size: 16px;
    color: #444444;
} 

.footer-email {
    margin-top: 20px;
    font-size: 18px;
    color: #444444;
}

.footer-phone {
    margin-top: 10px;
    font-size: 18px;
    background: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer-social {
    margin-top: 29px;
    gap: 10px;
}

.footer-info {
    width: 235px;
    margin-top: 29px;
    font-size: 16px;
    color: #848484;
    flex-direction: column;
    gap: 5px;
}

